<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none">
  <ion-content padding="true" class="manual-ios-statusbar-padding" id="logInPage">


    <form class="list logInForm" ng-submit="logInData">
      <img src="../img/LogWhite.png">
      <ion-list>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-focus="logInputFocus()" ng-blur="logBlurInput()" ng-change="inputLogChange(logInData)" ng-model="logInData.email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-focus="logInputFocus()" ng-blur="logBlurInput()" ng-change="inputLogChange(logInData)" ng-model="logInData.password">
        </label>
      </ion-list>

    </form>

  </ion-content>
  <div class="bar bar-footer" id="logInPageFooter">


    <a class="button button-assertive button-clear" id="logInCreateCTA">Crear Cuenta</a>
    <a class="button button-positive button-clear" id="logInCTA" ng-click="logInCTA()">Log In</a>
  </div>
</ion-view>