<ion-view title="Ordenes" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-cart-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="ordenes-list6">
      <label class="item item-input" id="ordenes-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item id="ordenes-list-item25">Item 1</ion-item>
      <ion-item id="ordenes-list-item26">Item 2</ion-item>
      <ion-item id="ordenes-list-item27">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>