<ion-view title="Tienda" id="page2">
  <ion-nav-buttons side="right" class="has-header ">

    <button class="button button-icon icon ion-ios-cart-outline customHeaderButtons" ng-click="goToCartCTA()">
      <e class="elementBadge" ng-if="productCartList.length > 0">{{productCartList.length}}</e>
    </button>

    <button class="button button-icon icon ion-android-more-vertical customHeaderButtons"></button>

  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <label class="item item-input subHeaderSearchBar">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Busqueda..." ng-model="searchStoreInput">
    </label>
  </div>

  <ion-content padding="true" class="has-header has-subheader">

    <ion-list>
      <ion-item class="customItem" ng-repeat="item in productList | filter: searchStoreInput" id="{{item.id}}">
        <div class="itemInfoBlock" ng-click="selectProductItemCTA(item)">
          <div class="itemImageBlock"><img ng-src="{{item.imageUrl}}"></div>
          <div class="itemDescriptionBlock">
            <h3>{{item.name}}</h3>
            <p>{{item.desription}}</p>
            <h4>RD$ {{item.price}}</h4>
            
          </div>
        </div>
        <div class="ActionsBlock">
          <div class="itemSelectQuantity">
            <e>Cantidad</e>
            <select ng-model="quantityChange" ng-change="item.selectedQuantity = quantityChange">
              <option selected>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>

          <a class="button button-balanzed button-small shareItemBtn">Compartir</a>
          <a class="button button-positive button-small" ng-click="addItemToCartCTA(item)">Carrito</a>

        </div>

      </ion-item>
      <div class="spacer md"></div>

    </ion-list>
  </ion-content>
</ion-view>