<ion-view title="Usuario" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="usuario-card23">
      <ion-item id="usuario-list-item36">Item</ion-item>
      <div class="item item-body" id="usuario-list-item-container6">
        <div id="usuario-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
    </div>
    <form id="usuario-form4" class="list">
      <ion-toggle toggle-class="toggle-positive" id="usuario-toggle2">Toggle</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="usuario-toggle3">Toggle</ion-toggle>
      <ion-radio id="usuario-radio2">Radio</ion-radio>
      <ion-radio id="usuario-radio3">Radio</ion-radio>
    </form>
    <button id="usuario-button7" class="button button-positive button-block">Tap me!</button>
  </ion-content>
</ion-view>