.platform-ios .manual-ios-statusbar-padding {
  padding-top: 20px; }

.manual-remove-top-padding {
  padding-top: 0px; }

.manual-remove-top-padding .scroll {
  padding-top: 0px !important; }

ion-list.manual-list-fullwidth div.list,
.list.card.manual-card-fullwidth {
  margin-left: -10px;
  margin-right: -10px; }

ion-list.manual-list-fullwidth div.list > .item,
.list.card.manual-card-fullwidth > .item {
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px; }

.show-list-numbers-and-dots ul {
  list-style-type: disc;
  padding-left: 40px; }

.show-list-numbers-and-dots ol {
  list-style-type: decimal;
  padding-left: 40px; }

* {
  font-family: 'Quicksand', sans-serif !important; }

.spacer {
  width: auto;
  clear: both; }
  .spacer.sm {
    height: 15px; }
  .spacer.md {
    height: 30px; }
  .spacer.lg {
    height: 60px; }

.elementBadge {
  display: block;
  position: absolute;
  top: -10%;
  left: 35%;
  padding: 5px;
  background-color: #ef473a;
  z-index: 999999;
  border: 2px solid #fff;
  width: auto;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 10px;
  text-align: center;
  line-height: 7px;
  color: #fff;
  font-weight: 700; }

.ion-ios-cart-outline::before {
  font-size: 40px !important; }

.bar-header {
  background-color: #fff !important;
  border: none; }

.side-menu-left .item {
  border: none; }

.customMenuButton {
  color: #f7931e !important; }

.customHeader {
  color: #444444; }

.customItem {
  border-left: none;
  border-right: none;
  white-space: normal !important;
  padding: 8px; }
  .customItem img {
    float: left;
    padding: 5px;
    height: 125px; }
  .customItem .itemDescriptionBlock {
    width: 75%;
    float: left;
    padding: 10px; }
    .customItem .itemDescriptionBlock h3 {
      margin-bottom: 5px;
      color: #444444;
      font-size: 20px; }
  .customItem .itemInfoBlock {
    padding: 5px;
    display: flex;
    flex-direction: row; }
  .customItem .ActionsBlock {
    float: left;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center; }
    .customItem .ActionsBlock .itemSelectQuantity {
      display: none; }
    .customItem .ActionsBlock a {
      width: 75px; }

.subHeaderSearchBar {
  padding: 8px;
  width: 100%;
  border: none; }

.elevetion, .activeItem .itemImageBlock {
  box-shadow: #999 1px 1px 4px 0.5px; }

.activeItem {
  background-color: #f7931e;
  border-radius: 10px;
  border-color: #fff; }
  .activeItem .itemImageBlock {
    background-color: #fff;
    border-radius: 10px; }
  .activeItem .itemDescriptionBlock p,
  .activeItem .itemDescriptionBlock h4,
  .activeItem .itemDescriptionBlock e {
    color: #fff;
    font-size: 14px; }
  .activeItem .itemDescriptionBlock h3 {
    color: #fff;
    letter-spacing: 1px; }

.customHeaderButtons {
  margin-right: 5px; }

.customSelectPopup .popup {
  background-color: #fff; }
  .customSelectPopup .popup .popup-head,
  .customSelectPopup .popup .popup-buttons {
    flex-direction: column;
    padding: 0px 10px; }
    .customSelectPopup .popup .popup-head button,
    .customSelectPopup .popup .popup-buttons button {
      margin-top: -1px;
      margin-bottom: 0px;
      border: 1px solid #ccc;
      border-left: none;
      border-right: none; }

.cartItemBlock {
  display: flex;
  justify-content: space-between;
  padding: 5px; }

.customCartItem {
  border-bottom-color: #f7931e;
  border-top-color: #f7931e; }

.customCartItemTotal {
  border-bottom-width: 2px;
  border-top-width: 2px; }

.noItemsLabel {
  color: #ccc;
  font-size: 14px;
  text-align: center;
  margin-top: 25px; }

.customHeaderClass {
  background-color: #f7931e; }
  .customHeaderClass .bar-stable,
  .customHeaderClass .item,
  .customHeaderClass a {
    background-color: transparent !important;
    color: #fff; }
    .customHeaderClass .bar-stable img,
    .customHeaderClass .item img,
    .customHeaderClass a img {
      width: 100%; }

.selectIncrementButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .selectIncrementButtons input {
    text-align: center; }

#logInPage {
  background-image: url("../img/LoginBackGround.png"); }
  #logInPage .scroll {
    display: flex;
    flex-direction: column; }
  #logInPage input[type=email],
  #logInPage input[type=password] {
    color: #ccc;
    letter-spacing: 0.5px; }
  #logInPage .logInForm img {
    width: 100%; }
  #logInPage .logInForm label {
    border: none; }

#logInPageFooter {
  background-color: transparent;
  background-image: none; }
  #logInPageFooter #logInCreateCTA {
    float: right;
    color: #f7931e; }
  #logInPageFooter #logInCTA {
    float: left;
    color: #cccccc; }
  #logInPageFooter a {
    font-weight: 700;
    margin: 0 5px;
    max-width: 150px; }

/*# sourceMappingURL=style.css.map */
